.imgClass{
  border-radius: 3% ;
  border: 2px solid rgb(93, 63, 211);
  // border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
